---
layout: default
---

<div class="home">
  <h1 class="page-heading">Posts in {{ page.title }}</h1>

  {%- if page.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in page.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <span class="post-meta">{{ post.date | date: date_format }} • Posted under&nbsp;
            {%- for category in post.categories -%}
              <a href="{{ root_url }}/{{ site.category_path }}/{{ category | slugify }}">{{ category }}</a>
              {%- if forloop.last == false -%},&nbsp;{%- endif -%}
            {%- endfor -%}
          </span>
        </h3>
        {%- if site.show_excerpts -%}
          {%- if post.excerpt_img -%}
          <p><img src="{{ post.excerpt_img }}" alt="{{ post.title | escape }}" /></p>
          {%- endif -%}
          {{ post.excerpt }}
          ... <a href="{{ post.url | relative_url }}">(keep reading) </a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
